<template>
    <div class="row" v-if="followers">
      <table class="user">
        <thead>
          <tr>
            <th class="user-id">Id</th>
            <th class="user-name">Name</th>
            <th class="user-avatar">Avatar</th>
            <th class="user-repository">Repository</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="follower in followers" :key="follower.id">
            <td class="user-id">{{follower.id}}</td>
            <td class="user-name">
                {{follower.login}}
            </td>
            <td class="user-avatar">
                <img :src="follower.avatar_url" alt="">
            </td>
            <td class="user-repository">{{follower.login}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</template>

<script>
export default {
name: 'followers',
  data: () => ({
    followers: null
  }),
  async mounted() {
    const url = this.$store.getters.followers.followers_url
    this.followers = await this.$store.dispatch('fetchUser', url)
  }
}
</script>

<style scoped lang="scss">
.user {
    padding-top: 50px;
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    .user {
        &-avatar {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
</style>