<template>
  <div class="app-main">
    <div class="row">
      <div class="input-field col s12">
        <select v-model="selected">
          <option selected value="users">User</option>
          <option value="repositories">Repository</option>
        </select>
        <label>Type</label>
      </div>
      <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Search on Github</label>
      </div>
    </div>
    <div class="row" v-if="selected === 'repositories' && users.length > 0">
      <div class="input-field col s12">
        <input type="text" id="autocomplete-input-user" class="autocomplete" v-model="search">
        <label for="autocomplete-input-user">Search on User</label>
      </div>
      <div class="col s12 sorting">
        <div class="sorting-top">
          <h4>Сортировка</h4>
          <div class="check-box">
            <label>
              <input type="checkbox" class="filled-in" v-model="checked" />
              <span>Показывать только имена больше 8</span>
            </label>
          </div>
        </div>
        <div class="sorting-item">
          <a @click="orderBy('name')">Username</a>
          <a @click="orderBy('id')">Id</a>
          <a @click="orderBy('repository')">Repository name</a>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th class="user-id">Id</th>
            <th class="user-name">Name</th>
            <th class="user-avatar">Avatar</th>
            <th class="user-repository">Repository</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in filterUsers" :key="user.id">
            <td class="user-id">{{user.owner.id}}</td>
            <td class="user-name">
                {{user.owner.login}}
            </td>
            <td class="user-avatar">
                <img :src="user.owner.avatar_url" alt="">
            </td>
            <td class="user-repository">{{user.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else-if="users.length > 0" class="row">
      <table>
        <thead>
          <tr>
            <th class="user-id">Id</th>
            <th class="user-name">Name</th>
            <th class="user-avatar">Avatar</th>
            <th class="user-repository">Repository</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td class="user-id">{{user.id}}</td>
            <td class="user-name" @click="setName(user)">
                {{user.name || user.login}}
            </td>
            <td class="user-avatar">
                <img :src="user.avatar_url" alt="">
            </td>
            <td class="user-repository">{{user.login}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {fromEvent, EMPTY} from 'rxjs'
import {map, debounceTime, distinctUntilChanged, switchMap, catchError, filter, tap} from 'rxjs/operators'
import {ajax} from 'rxjs/ajax'

export default {
  name: 'home',
  data: () => ({
    selected: 'users',
    url: 'https://api.github.com/search/',
    users: [],
    filterUsers: [],
    search: '',
    sortParam: '',
    checked: false
  }),
  mounted() {
    let elemsSelect = document.querySelector('select')
    if(elemsSelect) {
        let instancesSelect = M.FormSelect.init(elemsSelect)
    }

    const elemsInput = document.querySelector('.autocomplete')
    if(elemsInput) {
      const instancesInput = M.Autocomplete.init(elemsInput)
      const stream$ = fromEvent(elemsInput, 'input')
        .pipe(
            map(e => e.target.value),
            debounceTime(1000),
            distinctUntilChanged(),
            tap(() => this.users = []),
            filter(v => v.trim()),
            switchMap(v => ajax.getJSON(this.url + this.selected + '?q=' + v).pipe(
                catchError(err => EMPTY)
            )),
            map(res => res.items)
        )

        stream$.subscribe(value => {
            this.users = value
            this.filterUsers = value
        })
    }
  },
  methods: {
    orderBy(param) {
      this.sortParam = param
      if(this.sortParam !== '') {
        switch(this.sortParam){
          case 'name':
            return this.filterUsers.sort((a, b) => a.owner.login.toLowerCase() > b.owner.login.toLowerCase() ? 1 : -1)
          case 'id': 
            return this.filterUsers.sort((a, b) => a.owner.id > b.owner.id ? 1 : -1)
          case 'repository': 
            return this.filterUsers.sort((a, b) => a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1)
          default: 
            return this.filterUsers;
        }
      }
    },
    getFilteredUser() {
      let users = [];

      if (this.checked) {
        users = this.users.filter(f => f.owner.login.length > 8)
      } else {
        users = this.users
      }

      return users.filter(f => f.owner.login.toLowerCase().includes(this.search.toLowerCase()))
    },
    async setName(user) {
      try {
        await this.$store.dispatch('getUser', user)
        this.$router.push(`/user/${user.login}`)
      } catch(e) {
        console.log(e)
      }
    }
  },
  watch: {
    checked(value) {
      this.filterUsers = this.getFilteredUser();
    },
    search(value) {
      this.filterUsers = this.getFilteredUser();
    }
  }
}
</script>

<style scoped lang="scss">
.app-main {
  padding-top: 50px;
  th {
      text-align: center;
  }
  td {
      text-align: center;
  }
  .user {
    &-avatar {
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &-name {
      cursor: pointer;
      color: blueviolet;
    }
  }
  .sorting-top {
    display: flex;
    align-items: baseline;
    margin: 30px 0;
    h4 {
      margin: 0;
    }
    label {
      margin-left: 50px;
    }
  }
  .sorting-item {
    display: flex;
    justify-content: center;
    a {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
</style>
