<template>
    <div class="user" v-if="user">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th class="user-id">Id</th>
                        <th class="user-name">Name</th>
                        <th class="user-avatar">Avatar</th>
                        <th class="user-company">Company</th>
                        <th class="user-repository">Repository count</th>
                        <th class="user-link">Link</th>
                        <th class="user-followers">Followers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="user-id">{{user.id}}</td>
                        <td class="user-name">{{user.name}}</td>
                        <td class="user-avatar">
                            <img :src="user.avatar_url" alt="">
                        </td>
                        <td class="user-company">{{user.company}}</td>
                        <td class="user-repository">{{user.public_repos}}</td>
                        <td class="user-link">
                            <a :href="user.html_url">Link</a>
                        </td>
                        <td class="user-followers" @click="setFollowers(user)">Followers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
name: 'user',
  data: () => ({
    user: null
  }),
  methods: {
    async setFollowers(followers) {
      try {
        await this.$store.dispatch('getFollowers', followers)
        this.$router.push(`/user/${followers.login}/followers`);
      } catch(e) {
        console.log(e)
      }
    }
  },
  async mounted() {
    const url = this.$store.getters.user.url
    this.user = await this.$store.dispatch('fetchUser', url)
  }
}
</script>

<style scoped lang="scss">
.user {
    padding-top: 50px;
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    .user {
        &-avatar {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &-followers {
            cursor: pointer;
            color: blueviolet;
        }
    }
}
</style>