<template>
  <div>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'main-layout',
  data: () => ({

  }),
  mounted() {

  }
}
</script>
